lightning
matplotlib
nltk
numpy
opencv_python
opencv_python_headless
pandas
pytorch_lightning
PyYAML
scikit_learn
scipy
seaborn
speach
statannotations
statsmodels
tabulate
torch
torchaudio
torchvision
tqdm
transformers
EasyDict
mediapipe
pandas
ffmpeg
ffmpeg-python
sox
soundfile
datetime
whisperx
whisper
moviepy==1.0.3
jupyter
deepl
tgt
elan_data
python-Levenshtein
gdown
# spacy
